<section id="user">
    <div class="platform">

        <h2 id="user-name">Welcome</h2>

        <img id="img-preview" src="http://www.buckinghamandcompany.com.au/wp-content/uploads/2016/03/profile-placeholder.png"
            class="userpic" />

        {{!-- <img src="{{img.url}}" class="userpic" /> --}}

        <p>Please choose from one of the following:</p>

        <button placeholder="View as Hirer" class="hirer #FFFFFF white waves-effect waves-light btn-small" href="">View
            as Hirer</button>
        <button placeholder="View as Doer" class="doer #FFFFFF white waves-effect waves-light btn-small" href="">View
            as Doer</button>

        <br>
        <hr>
        <br>
        <div id="doer">
            <ul class="collapsible">
                <li>
                    <div class="collapsible-header" id="edit-profile"><i class="material-icons">assignment_ind</i>View
                        / Edit your
                        Profile</div>
                    <div class="collapsible-body">
                        <form class="col s12">
                            <div class="row">
                                <div class="input-field col s12">
                                    <i class="material-icons prefix">account_circle</i>
                                    <input id="edit-name" type="text" class="validate">
                                    {{!-- <textarea id="edit-name" class="materialize-textarea"></textarea> --}}
                                    <span class="helper-text" data-error="wrong" data-success="right">Name</span>

                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <i class="material-icons prefix">location_on</i>
                                    <textarea id="edit-location" class="materialize-textarea"></textarea>
                                    <span class="helper-text" data-error="wrong" data-success="right">Location</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <i class="material-icons prefix">phone</i>
                                    <textarea id="edit-contact" class="materialize-textarea"></textarea>
                                    <span class="helper-text" data-error="wrong" data-success="right">Contact</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <i class="material-icons prefix">short_text</i>
                                    <textarea id="edit-specialty" class="materialize-textarea"></textarea>
                                    <span class="helper-text" data-error="wrong" data-success="right">Speciality</span>

                                </div>

                                {{!-- UPLOAD --}}
                                <div class="upload">
                                    <div class="file-field input-field">
                                        <div class="#33691e light-green darken-4 waves-effect waves-light btn-small">
                                            <span>UPLOAD IMAGE</span>
                                            <input type="file">
                                        </div>
                                        <div class="file-path-wrapper">
                                            <input class="file-path validate" type="text">
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <button id="update-info" class="#33691e light-green darken-4 waves-effect waves-light btn-small">Update</button>

                        </form>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header" id="jobs-requested"><i class="material-icons">event_available</i>Current
                        Jobs status</div>
                    <div class="collapsible-body">
                        {{!-- {{#each task }} --}}
                        <div class="row">
                            <div class="col s12 m6">
                                <div class="card #4caf50 green">
                                    <div class="card-content white-text" id="pop-jobs-requested">
                                        {{!-- <span class="card-title">Card Title</span>
                                        <p>Title: {{task.title}}</p>
                                        <p>Description: {{task.description}}</p>
                                        <p>Location: {{task.location}}</p>
                                        <p>Status: {{task.status}}</p> --}}
                                    </div>
                                </div>
                            </div>
                             <div class="col s12 m6">
                                <div class="card #4caf50 green">
                                    <div class="card-content white-text" id="pop-hirer">
                                        {{!-- <span class="card-title">Card Title</span>
                                        <p>Title: {{task.title}}</p>
                                        <p>Description: {{task.description}}</p>
                                        <p>Location: {{task.location}}</p>
                                        <p>Status: {{task.status}}</p> --}}

                                    </div>
                                </div>
                        </div>
                        
                    </div>
                    {{!-- {{/each}} --}}
        </div>
        </li>
        <li>
            <div class="collapsible-header" id="jobs-by-area"><i class="material-icons">place</i>Upcoming Jobs
                in your Area</div>
            <div class="collapsible-body">
                {{!-- {{#each task }} --}}
                <div class="row">
                    <div class="col s12 m6">
                        <div class="card #4caf50 green">
                            <div class="card-content white-text" id="pop-tasks">
                                {{!-- <span class="card-title">Card Title</span> --}}
                                {{!-- <p>Title: {{task.title}}</p>
                                <p>Description: {{task.description}}</p>
                                <p>Rate of Pay: {{task.status}}</p>
                                <p>Location: {{task.location}}</p>
                                <p>Status: {{task.status}} --}}
                                    {{!-- moment.js --}}
                                    {{!-- </p> --}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
             </li>
             <li>
            <div class="collapsible-header" id="jobs-search"><i class="material-icons">face</i>Find a Job</div>
            <div class="collapsible-body"><span>
                    <div class="search">
                        <h5>Find a Job</h5>
                        <input id="find-a-job-input" class="searchbar #ffffff white" type="text" placeholder="">
                        <button id="find-a-job" class="btn waves-effect waves-light btn-small #4caf50 green modal-trigger"
                            href="#modal5" type="submit" name="action">
                            <i class="fas fa-search"></i>
                        </button>

                        <!-- Modal Structure -->
                        <div id="modal5" class="modal">
                            <div class="modal-content">
                               <div id="jobs-results">
                            </div>
                            
                            <h5>Possible Jobs for you!</h5>
                            <p>A bunch of text</p>
                        </div>
                        <div class="modal-footer">
                            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
                        </div>
                    </div>
            </div>
            </span>
    </div>
    </li>
    </ul>
    <button id="sign-out" class="#33691e light-green darken-4 waves-effect waves-light btn-small">Sign out</button>
    </div>
    <div id="hirer">
        <ul class="collapsible">
            <li>
                <div class="collapsible-header" id="edit-profile2"><i class="material-icons">assignment_ind</i>View
                    /
                    Edit your
                    Profile</div>
                <div class="collapsible-body">
                    <form class="col s12">
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix">account_circle</i>
                                <textarea id="edit-name2" class="materialize-textarea"></textarea>
                                <span class="helper-text" data-error="wrong" data-success="right">Name</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix">location_on</i>
                                <textarea id="edit-location2" class="materialize-textarea"></textarea>
                                <span class="helper-text" data-error="wrong" data-success="right">Location</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix">phone</i>
                                <textarea id="edit-contact2" class="materialize-textarea"></textarea>
                                <span class="helper-text" data-error="wrong" data-success="right">Contact</span>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <i class="material-icons prefix">short_text</i>
                                    <textarea id="edit-specialty2" class="materialize-textarea"></textarea>
                                    <span class="helper-text" data-error="wrong" data-success="right">Speciality</span>
                                </div>

                                {{!-- UPLOAD --}}
                                <div class="upload">
                                    <div class="file-field input-field">
                                        <div class="#33691e light-green darken-4 waves-effect waves-light btn-small">
                                            <span>UPLOAD IMAGE</span>
                                            <input type="file">
                                        </div>
                                        <div class="file-path-wrapper">
                                            <input class="file-path validate" type="text">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <button id="update-info2" class="#33691e light-green darken-4 waves-effect waves-light btn-small">Update</button>

                    </form>
                </div>
            </li>

            <li>
                <div id="post-job-form" class="collapsible-header"><i class="material-icons">build</i>Post a Job</div>
                <div class="collapsible-body">
                    <span>
                        <div class="row">
                            <form class="col s12">
                                <div class="row">
                                    <div class="input-field col s12">
                                        <textarea id="task-title" class="materialize-textarea"></textarea>
                                        <label for="task-title">Title</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <textarea id="task-des" class="materialize-textarea"></textarea>
                                        <label for="task-des">Description</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <textarea id="task-rop" class="materialize-textarea"></textarea>
                                        <label for="task-rop">Rate of Pay</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <textarea id="task-location" class="materialize-textarea"></textarea>
                                        <label for="task-location">Location</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <textarea id="task-time" class="materialize-textarea"></textarea>
                                        <label for="task-time">Time</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <textarea id="task-ctg" class="materialize-textarea"></textarea>
                                        <label for="task-ctg">Category</label>
                                    </div>
                                </div>

                                <button id="post-job" class="#33691e light-green darken-4 waves-effect waves-light btn-small">send</button>

                            </form>
                        </div>
                    </span>
                </div>
            </li>
            <li>
                <div class="collapsible-header" id="current-job-status"><i class="material-icons">event_available</i>Current
                    Jobs status</div>
                <div class="collapsible-body">
                    {{!-- {{#each task }} --}}
                    <div class="row">
                        <div class="col s12 m6">
                            <div class="card #4caf50 green">
                                <div class="card-content white-text" id="pop-current-tasks">
                                    {{!-- <span class="card-title">Card Title</span>
                                    <p>Title: {{task.title}}</p>
                                    <p>Description: {{task.description}}</p>
                                    <p>Location: {{task.location}}</p>
                                    <p>Status: {{task.status}}</p> --}}
                                     <!-- Modal Structure -->

                                </div>
                            </div>
                        </div>
                        <div class="col s12 m6">
                            <div class="card #4caf50 green">
                                <div class="card-content white-text" id="pop-requesting-doer">
                                    {{!-- <span class="card-title">Card Title</span>
                                    <p>Title: {{task.title}}</p>
                                    <p>Description: {{task.description}}</p>
                                    <p>Location: {{task.location}}</p>
                                    <p>Status: {{task.status}}</p> --}}
                                    <!-- Modal Structure -->
                                    

                                </div>
                            </div>
                        </div>
                    </div>
                    {{!-- {{/each}} --}}
                </div>
            </li>
            <li>
                <div class="collapsible-header"><i class="material-icons">face</i>Find a Doer</div>
                <div class="collapsible-body"><span>
                        <div class="search">
                            <h5>Find the best Doer for you</h5>
                            <input class="searchbar #ffffff white" type="text" placeholder="" id="find-doer-input">
                            <button class="btn waves-effect waves-light btn-small #4caf50 green modal-trigger" href="#modal6"
                                type="submit" name="action" id="find-doer-button">
                                <i class="fas fa-search"></i>
                            </button>
                            <!-- Modal Structure -->
                            <div id="modal6" class="modal">
                                <div class="modal-content">
                                    <div id="search-results"></div>
                                </div>
                                <div class="modal-footer">
                                    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
                                </div>
                            </div>
                        </div>
                    </span></div>
            </li>
        </ul>

        <button id="sign-out2" class="#33691e light-green darken-4 waves-effect waves-light btn-small">SIGN OUT</button>

    </div>
    </div>